html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

body {
    color: #000;
    font-size: 16px;
    font-family: 'Readex Pro', Helvetica, sans-serif;
    line-height: 1.4;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
}

.clear-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.margin-b-sm {
    margin-bottom: 15px;
}

.section__title {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.section__description {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  color: #585861;
  padding: 0 30%;
}

.btn {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    cursor: pointer;
    display: inline-block;
}

.btn_main {
    background: #ff5c62;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
}



/**** BEGIN NAV ****/

.nav {
    padding: 15px 0;
}

.navbar-items {
  text-align: center;
}

.nav__brand {
    display: inline-block;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: #ff5c62;
    letter-spacing: 3px;
    padding-bottom: 10px;
}

.nav__list {
    display: flex;
    column-gap: 25px;
    justify-content: center;
}

@media (min-width: 576px) {
  .navbar-items {
    align-items: center;
    justify-content: center;
  }

  .nav__list {
    justify-content: start;
  }

  .nav__brand {
    padding-bottom: 0;
  }
}


/**** END NAV ****/


/**** BEGIN WELCOME SECTION ****/

.welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../img/main-page.jpg");
    height: calc(100% - 65px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-section__content {
    width: 400px;
    height: 320px;
    background: #fff;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding-top: 40px;
}

.welcome-section__content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.welcome-section__titles {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.welcome-section__title {
    font-size: 30px;
    letter-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
}

.welcome-section__text {
    color: #585861;
    margin-bottom: 10px;
    text-align: center;
}

.welcome-section__btn {
    position: absolute;
    bottom: 30px;
    padding: 8px 50px;
    text-transform: uppercase;
}

@media (min-width: 576px) {
  .welcome-section__content {
    width: 400px;
    height: 320px;
  }

  .welcome-section__btn {
    bottom: 50px;
  }
}

/**** END WELCOME SECTION ****/

/**** BEGIN POPULAR BOUQ SECTION ****/

.popular-bouq-section__content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.product {
    width: 100%;
    border: #999999 1px solid;
    padding-bottom: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__info {
    margin-bottom: 10px;
}

.product__img {
    height: 375px;
    width: 100%;
    margin-bottom: 5px;
    object-fit: contain;
}

.product__description {
    display: inline-block;
    color: #585861;
    font-size: 14px;
    padding: 0 10px;
}

.product__buy {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__buy-btn {
    padding: 5px 15px;
}

@media (min-width: 768px) {
  .product__img {
    object-fit: cover;
  }
}

/**** END POPULAR BOUQ SECTION ****/

/**** BEGIN ORDER PROCCESS SECTION ****/

.order-proccess-section {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #f7f7f7;
}

.order-step {
    display: flex;  
    align-items: center;
}

.order-step__img {
    width: 70%;
    height: 250px;
    margin-bottom: 25px;
    object-fit: contain;
}

.order-step__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.order-step__description-title {
    font-weight: lighter;
    font-size: 22px;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.order-step__description {
    text-align: center;
    color: #6d6a6a;
    font-family: 'Times New Roman', Times, serif;
}

.order__arrow {
    width: 80px;
    height: 80px;
}

@media (min-width: 768px) {
  .order-step__img {
    width: 100%;
  }
  .order-step__content {
    margin-bottom: 0;
  }
}

@media (min-width: 576px) {
  .order-step__img {
    object-fit: cover;
  }
}

/**** END ORDER PROCCESS SECTION ****/

/**** BEGIN OPINIONS SECTION ****/


.opinions-section__content {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #000;
}

.img-wrapper {
    height: 100px;
    width: 100px;
    background: #fff;
    border-radius: 50%;
    margin-right: 25px;
}

.opinion__img {
    width: 100px;
    border-radius: 50%;
    object-fit: contain;
}

.opinion {
    display: flex;
    margin-bottom: 25px;
}

.opinion__name {
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 400;
}

.opinion__text {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

@media (min-width: 768px) {
  .opinion {
    margin-bottom: 0;
  }
}

/**** END OPINIONS SECTION ****/

/**** BEGIN FOOTER ****/

.footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fefaf3;
}

/**** END FOOTER ****/

.makeorder-section {
    background: rgb(184, 37, 37);
    height: 200px;
}

/**** END MAKEORDER SECTION ****/

/**** BEGIN ALL BOUQ SECTION ****/

.all-bouq-section__content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.row {
    padding-bottom: 10px;
}

/**** END ALL BOUQ SECTION ****/

/**** BEGIN CONTACT SECTION ****/


.contact-section {
  height: calc(100% - 127px);
}

.form-control {
  border: 1px solid black;
}

.contact-section .info-wrap {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  .contact-section .info {
    background: #fff;
  }
  .contact-section .info i {
    font-size: 20px;
    color: #ff5c62;
    float: left;
    width: 44px;
    height: 44px;
    border: 1px solid #ff5c62;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s;
  }
  .contact-section .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #111;
  }
  .contact-section .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #444444;
  }
  .contact-section .info:hover i {
    background: #ff5c62;
    color: #fff;
  }
  .contact-section .php-email-form {
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding: 30px;
    background: #fff;
  }
  .contact-section .php-email-form .form-group {
    padding-bottom: 8px;
  }
  .contact-section .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  .contact-section .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  .contact-section .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #ff5c62;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .contact-section .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  .contact-section .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #ff5c62;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  .contact-section .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
    width: 100%;
  }
  .contact-section .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: #ff5c62;
  }
  .contact-section .php-email-form input {
    height: 44px;
  }
  .contact-section .php-email-form textarea {
    padding: 10px 12px;
    width: 100%;
  }
  .contact-section .php-email-form button[type=submit] {
    background: #ff5c62;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  .contact-section .php-email-form button[type=submit]:hover {
    background: #ff5c62;
  }
  
  .alert-success {
    z-index: 1;
    background: #D4EDDA;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    top: 10px;
    border-left: 8px solid #3ad66e;
    border-radius: 4px;
  }

  .alert-error {
    z-index: 1;
    background: #D4EDDA;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    top: 10px;
    border-left: 8px solid #da2b1e;
    border-radius: 4px;
  }

/**** END CONTACT SECTION ****/



/**** BEGIN ORDER FORM ****/

.order-form-section {
  height: calc(100% - 148px);
}

.order-form {
    margin-top: 20px;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding: 30px;
    background: #fff;
}

.order-form__btn {
  padding: 10px 15px;
}

.order-form__field {
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
    width: 100%;
    height: 44px;
    border: 1px solid black;
    padding-left: 5px;
}

.order-form__text {
    padding: 10px 12px;
    width: 100%;
}

/**** END ORDER FORM ****/