html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

body {
    color: #000;
    font-size: 16px;
    font-family: 'Readex Pro', Helvetica, sans-serif;
    line-height: 1.4;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
}

.clear-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

/**** BEGIN NAV ****/

.nav {
    padding: 15px 0;
}

.navbar-items {
    align-items: center;
}

.nav__brand {
    font-size: 25px;
    font-weight: bold;
}

.nav__list {
    display: flex;
    column-gap: 25px;
}

/**** END NAV ****/


/**** BEGIN WELCOME SECTION ****/

.welcome-section {
    background: #000;
    height: 200px;
}


/**** END WELCOME SECTION ****/
